.button:disabled {
    background-color: darkgrey;
    -fx-background-color: darkgrey;
}

.button {
    -fx-background-color: grey;
    background-color: grey;
    -fx-background-radius: 20px;
    -fx-font: normal normal 15px verdana;
    font: normal normal 15px verdana;
}

.button:hover {
    -fx-background-color: lightgreen;
    background-color: lightgreen;
}

#logarthmicOp {
    -fx-background-color: darkgreen;
    background-color: darkgreen;
}

#logarthmicOp:hover {
    -fx-background-color: lightgreen;
    background-color: lightgreen;
}

#trigOp {
    -fx-background-color: lightseagreen;
    background-color: lightseagreen;
}

#trigOp:hover {
    -fx-background-color: lightgreen;
    background-color: lightgreen;
}

#statOp {
    -fx-background-color: darkkhaki;
    background-color: darkkhaki;
}

#statOp:hover {
    -fx-background-color: lightgreen;
    background-color: lightgreen;
}

#opButton {
    -fx-background-color: orange;
    background-color: orange;
}

#opButton:hover {
    -fx-background-color: lightgreen;
    background-color: lightgreen;
}

#equalsButton {
    -fx-background-color:lightblue;
    background-color: lightblue;
}

#equalsButton:hover {
    -fx-background-color: lightgreen;
    background-color: lightgreen;
}

.label {
    -fx-text-fill: white;
}

#box {
    -fx-background-color: black;
    background-color: black;
    -fx-spacing: 20px;
}

#biggerbox {
    -fx-background-color: rgb(58, 55, 55);
    background-color: rgb(58, 55, 55);
    -fx-spacing: 13px;
}

#buttonbox {
    -fx-spacing: 10px;
}

#resultLabel {
    -fx-text-fill: white;
    -fx-font: normal normal 25px verdana;
    font: normal normal 25px verdana;
}

#prevLabel {
    -fx-text-fill: grey;
    -fx-font: normal normal 25px verdana;
    font: normal normal 25px verdana;
}

/* have some work to do here */